@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Alternates:wght@200&family=Montserrat:wght@300&display=swap');
.centerText {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 350%;
    line-height: 1.2;
    color: #ffffff;
    width: 100%;
}
